<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
	<title>
		Edit Profile
	</title>
<style>
	#hiding {
		visibility: hidden;
	}
</style>
</head>
<body>
	<h2>Display Name:</h2>
	<h3>{{ first_name }} {{ last_name }}</h3>

	<h2>Email:</h2>
	<form method="POST">
		{{ EmailButton.csrf_token }}
		<textarea name='emailarea'>{{ email }}</textarea>
		{{ EmailButton.save }}
	</form>
	<h2>Summary: </h2>
	<form method='POST'>
		{{ SummaryButton.csrf_token }}
		<textarea name='summarea'>{{ summary }}</textarea>
		{{ SummaryButton.save }}
	</form>




</body>
</html>